:root{
    --rustRed: #BC4639;
    --brown: #5C2018;
    --salmon: #D4A59A;
    --beigh: #F3E0DC;
    --blue: #3265b8;
}
textarea {
    margin-top: 5px;
}
body {
    background-color: var(--beigh);
}
* {
    font-family: Lucida Handwriting;
}
#GridContainer {
    display: grid;
    grid-template-areas: 
    'header header header' /*first row determain the num of columns*/
    'left main main'
    'left main main';
}

#item1 {
    grid-area: header;
    height: 100px;
    width: 1000px;
    padding: 20px;
    margin: 20px ;
    background-color: var(--salmon);
    font-size: 50px;
}

#item2 {
    grid-area: left;
    height: 500px;
    width: 460px;
    background-color: var(--salmon);
}

#item3 {
    grid-area: main;
    height: 500px;
    width: 540px;
    background-color: var(--salmon);
}

div div {
    color: var(--blue);
    font-size: 20px;
    border: solid 2px var(--brown);
    padding: 10px;
    margin: 10px;
    justify-content: center;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--rustRed);
    }
}

div {
    height: 50vh;
}

#button {   
    font-size: 15px;
    background-color: var(--beigh);
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: 4;
}

@keyframes blink {
    0% {background-color: var(--blue); border-radius: 0%;}
    50% {background-color: var(--beigh); border-radius: 25%;}
    100% {background-color: var(--blue); border-radius: 100%;}

}

